streamlit
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langchain-huggingface
chromadb
sentence-transformers
python-dotenv
pypdf
langchain-openai
tiktoken
langchain-chroma
fastapi 
pydantic
